.recipe-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin: 7vw 0;
}
.recipe-img {
  padding: 0 5vw 0 10vw;
}
.recipe-img img {
  width: 25vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 10px;
}

.recipe-details {
  justify-self: start;
  align-self: start;
}

.recipe-img div {
  display: flex;
  align-items: center;
  gap: .5vw;
  padding-left: 0.5vw;
}
.recipe-details{
  padding: 0 15vw 0 0vw;
}
.recipe-details > h4 {
  font-weight: 500;
}

.recipe-details span {
  font-weight: 300;
}

@media screen and (max-width:768px) {
  .recipe-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .recipe-img img {
    height: 50vw;
  }
  .recipe-img div {
    padding-left: 0vw;
  }
  .recipe-details {
    justify-self: center;
        
  }
  
}